{% extends 'nanocore_base.html' %}

{% block content %}
<!--=====================
          Content
======================-->
  <div class="container">

    <div class="grid_5">
    <h3>1. Structure Viewer</h3>
    <p class="fwn">A simple atomic structure viewer based on jsmol. Some simple modification is also available on this website.<br><a href="nanocore_details.html">Click here </a>for more details.</p>
    How to Use This Page<br>
    1. Select your atomic structure file. (required) <br>
    2. Write a description for your model. (optional) <br>
    3. You can modify the original strcuture by writting some commands in "commands". (optional) <p><br>

    <form method="POST" action="/nanocore_viewer.html" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <p><input type="submit" value="Submit"/></p>
    </form>
    <form method="GET" action="/nanocore_viewer.html"><input type="submit" value="Reset"></form>
    </div>

<!--=====================
       Archive
======================-->
    <div class="grid_6">
      <h3>Archive</h3>
      <form method="POST" action="/app01_view_nanocore/" enctype="multipart/form-data"></form>
      <table class="table table-bordered" border=1, cellpadding="10">
      <thead>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">Structure ID</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">Structure file</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">Description</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">Commands</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">Jsmol View</td>
      </thead>
      <tbody>                   
      {% for i, struct, descript, comm, link in results2 %}
      <tr>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{i}}</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{struct}}</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{descript}}</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{comm}}</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
          <a href="nanocore_view/{{i}}?url={{link}}&index={{i}}">View</a>
          <a href="{{link}}">Download</a>
        </td>
     </tr>
     {% endfor %}                                                       
     </tbody>
     </table>
    </div>

  <article class="container">
    <div class="grid_12">
      <h3>Information on your atomic structure</h3>
    </div>

<!--=====================
      Jsmol Viewer
======================-->
    <div class="grid_6">
      <div class="text1"><a href="#">Jsmol Viewer</a></div>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- Morris Charts JavaScript -->
  <script src="/static/js/plugins/morris/raphael.min.js"></script>
  <script src="/static/js/plugins/morris/morris.min.js"></script>
  <script src="/static/js/plugins/morris/morris-data.js"></script>
  <script src="/static/find/jsmol/JSmol.min.js"></script>

      <script type="text/javascript">
        // last update 2/18/2014 2:10:06 PM
        var jmolApplet0;
        jmol_isReady = function(applet) {
                //document.title = (applet._id + " - Jmol " + ___JmolVersion)
                Jmol._getElement(applet, "appletdiv").style.border="1px solid blue"
        };

        var Info = {
                width: "95%",
                height: 400,
                debug: false,
                color: "0xFFFFFF",
                //addSelectionOptions: true,
                use: "HTML5",   // JAVA HTML5 WEBGL are all options
                j2sPath: "/static/find/jsmol/j2s", // this needs to point to where the j2s directory is.
                jarPath: "./usr/bin/java",// this needs to point to where the java directory is.
                jarFile: "JmolAppletSigned.jar",
                isSigned: true,
                script: "set antialiasDisplay; load {{jsmolpath}}; unitcell on;",
                serverURL: "/static/find/jsmol/php/jsmol.php",
                readyFunction: jmol_isReady,
                disableJ2SLoadMonitor: true,
                disableInitialConsole: true,
                //allowJavaScript: true
                //defaultModel: "$dopamine",
                //console: "none", // default will be jmolApplet0_infodiv, but you can designate another div here or "none"
        };

        $(document).ready(function() {
                $("#appdiv").html(Jmol.getAppletHtml("jmolApplet0", Info))
        });
        var lastPrompt=0;
      </script>
      <p id="appdiv"></p>
    </div>

<!--=====================
       atom list
======================-->
    <div class="grid_5">
      <div class="text1"><a href="#">Details</a></div>
      <form method="POST" action="/app01_view_nanocore/" enctype="multipart/form-data"></form>
      <table class="table table-bordered" border=1, cellpadding="10">
      <thead>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">Serial Number</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">Atomic Symbol</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">x-coord.</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">y-coord.</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">z-coord.</td>
      </thead>
      <tbody>                   
      {% for i, symb, x, y, z in results %}
      <tr>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{i}}</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{symb}}</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{x}}</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{y}}</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">{{z}}</td>
     </tr>
     {% endfor %}                                                       
     </tbody>
     </table>
    </div>

  </article>
  </div>
{% endblock %}
