{% extends 'nanocore_base.html' %}

{% block content %}
<!--=====================
          Content
======================-->
  <div class="container">

    <h3>2. Junction Modeler</h3>

    <p class="fwn">A simple nano-sized junction modeler. <br><a href="nanocore_details.html">Click here </a>for more details.</p>
    How to Use This Page<br>
    1. Select your atomic structure file. (required) <br>
    2. Write a description for your model. (optional) <br>
    3. You can modify the original strcuture by writting some commands in "commands". (optional) <p><br>

    <form method="POST" action="/nanocore_viewer.html" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <p><input type="submit" value="Submit"/></p>
    </form>
    <form method="GET" action="/nanocore_viewer.html"><input type="submit" value="Reset"></form>


  <article class="container">

    <div class="grid_12">
      <h3>Information on your atomic structure</h3>
    </div>

<!--=====================
      Jsmol Viewer
======================-->
    <div class="grid_6">
      <div class="text1"><a href="#">Jsmol Viewer</a></div>

      <script type="text/javascript">
        // last update 2/18/2014 2:10:06 PM
        var jmolApplet0;
        jmol_isReady = function(applet) {
                //document.title = (applet._id + " - Jmol " + ___JmolVersion)
                Jmol._getElement(applet, "appletdiv").style.border="1px solid blue"
        };

        var Info = {
                width: "95%",
                height: 400,
                debug: false,
                color: "0xFFFFFF",
                //addSelectionOptions: true,
                use: "HTML5",   // JAVA HTML5 WEBGL are all options
                j2sPath: "/static/find/jsmol/j2s", // this needs to point to where the j2s directory is.
                jarPath: "./usr/bin/java",// this needs to point to where the java directory is.
                jarFile: "JmolAppletSigned.jar",
                isSigned: true,
                script: "set antialiasDisplay; load {{jsmolpath}}; unitcell on;",
                serverURL: "/static/find/jsmol/php/jsmol.php",
                readyFunction: jmol_isReady,
                disableJ2SLoadMonitor: true,
                disableInitialConsole: true,
                //allowJavaScript: true
                //defaultModel: "$dopamine",
                //console: "none", // default will be jmolApplet0_infodiv, but you can designate another div here or "none"
        };

        $(document).ready(function() {
                $("#appdiv").html(Jmol.getAppletHtml("jmolApplet0", Info))
        });
        var lastPrompt=0;
      </script>
      <p id="appdiv"></p>
    </div>






  </article>
  </div>
{% endblock %}
