<!DOCTYPE html>
<html lang="en">
<head>
<title>People</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />
<link rel="icon" href="/static/images/favicon.ico">
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<link rel="stylesheet" href="/static/css/style.css">

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- Morris Charts JavaScript -->
  <script src="/static/js/plugins/morris/raphael.min.js"></script>
  <script src="/static/js/plugins/morris/morris.min.js"></script>
  <script src="/static/js/plugins/morris/morris-data.js"></script>
  <script src="/static/find/jsmol/JSmol.min.js"></script>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-migrate-1.1.1.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/script.js"></script> 
<script src="/static/js/superfish.js"></script>
<script src="/static/js/jquery.equalheights.js"></script>
<script src="/static/js/jquery.mobilemenu.js"></script>
<script src="/static/js/tmStickUp.js"></script>
<script src="/static/js/jquery.ui.totop.js"></script>
<script>
 $(window).load(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});  
 }); 
</script>
<!--[if lt IE 8]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<![endif]-->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body>
<!--==============================
              header
=================================-->
<header>
  <div class="container">
    <div class="row">
      <div class="grid_12 rel">
        <h1>
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Logo alt">
          </a>
        </h1>
      </div>
    </div>
  </div>
  <section id="stuck_container">
  <!--==============================
              Stuck menu
  =================================-->
    <div class="container">
      <div class="row">
        <div class="grid_12 ">
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li><a href="index.html">Home</a></li>
               <li class="current"><a href="people_prof.html">People</a></li>
               <li><a href="research.html">Research</a></li>
               <li><a href="publications.html">Publications</a></li>
               <li><a href="contacts.html">Contacts</a></li>
               <li>
                 {% if request.user.is_authenticated %}
                 <a href="{% url 'logout_url' %}?next=/index.html">{{request.user.username }}, Log Out</a>
                 {% else %}
                 <a href="{% url 'login_url' %}">Log In</a>
                 {% endif %}
               </li>
               <li><a href="/signup">Sign up</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>       
         <div class="clear"></div>  
        </div>
     </div> 
    </div> 
  </section>
</header>
<!--=====================
          Content
======================-->
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 28, 2014!</div>

  <div class="container">
    <h3>News</h3>

    {% for datetime, endtime, contents, attached in results %}
    <div class="blog">

      <table class="table table-bordered" border=1, cellpadding="10">
      <tbody>
      <tr>
        <td align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">
          <strong>{{datetime}}</strong>
          {% if endtime %}
          <strong>~{{endtime}}</strong>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">{{contents}}</td>
      </tr>
      {% if attached %}
      <tr>
        <td align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">
          <img width=500 src="{{attached}}" alt="No Image" class="img_inner fleft">
        </td>
      </tr>
      {% endif %}
      </tbody>
      </table>
      {% endfor %}

<!--
      <time datetime="2014-01-01">
        <strong>{{datetime}}</strong>
      </time><br>

      <div class="grid_12">
        <img src="{{attached}}" alt="No Image" class="img_inner fleft" width="150"><p>
        {{contents}}
      </div>
-->



</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12"> 
        <div class="copyright"><span class="brand">Stable</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
          <div class="sub-copy">Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
    </div>
  </div>  
</footer>
<a href="#" id="toTop" class="fa fa-chevron-up"></a>
</body>
</html>
