{% extends 'people_base.html' %}

{% block content %}
<!--=====================
          Content
======================-->
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 28, 2014!</div>

  <div class="container">

    <h3>Yong-Hoon Kim, PI</h3>

    <div class="grid_2">
      <img src="/static/images/people_prof.jpg" alt="" class="img_inner fleft">
    </div>

    <div class="grid_9">
      <p class="fwn">Prof. Yong-Hoon Kim<br></p>
      Office: N5 Building, Room 2311 <br>
      Phone:  +82-42-350-1717 <br>
      Fax:    +82-42-350-1710 <br>
      Email:  y.h.kim@kaist.ac.kr <br>
    </div>
</section>

<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 28, 2014!</div>

  <div class="container">

    <div class="grid_11">
      <div class="">
      <table class="table table-bordered" border=1, cellpadding="10">
<!--
      <thead>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">Serial Number</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">structure file</td>
        <td border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">description</td>
      </thead>
-->
      <tbody>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Education</td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">1991.03~1995.02</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">B.S. in Physics, Seoul National University</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">1995.09-2000.07</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Ph.D. in Physics, University of Illinois at Urbana-Champaign, USA (with Prof. Richard M. Martin)</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"><br></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Professional Experience</td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Vocational</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2010.06-Present</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Assistant Professor, Graduate School of EEWS, KAIST</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2006.08-2010.06</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Assistant Professor, Department of Materials Science and Engineering, University of Seoul</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2004.04-2006.07</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Assistant Professor, School of Computational Sciences, Korea Institute for Advanced Study</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2002.03-2004.03</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Postdoctoral Researcher, Materials and Simulation Center, California Institute of Technology, USA (with Prof. William A. Goddard III)</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2000.08-2002.02</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Humboldt fellow, Lehrstuhl fur Theoretische Chemie, Technische Universitat Munchen, Germany (with Prof. Andreas Gorling)</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Miscellaneous</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2002.09-2002.12</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Fellow, Institute for Pure and Applied Mathematics, University of California at Los Angeles</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">1995.08-2000.07</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Teaching and research assistant, Department of Physics, University of Illinois at Urbana-Champaign</td>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Honors</td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2007</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Hynix Best Lecture Note Award, Korean Society for Engineering Education</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2006</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Best Oral Presentation Award, IEEE Nanotechnology Materials and Devices Conference</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2002</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">IPAM fellowship for the "Mathematics in Nanoscale Science and Engineering" program, Institute for Pure and Applied Mathematics, UCLA, U.S.</td>
     </tr>
      <tr>
        <td width=120 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;"></td>
        <td width=180 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">2001</td>
        <td width=600 align="left" style="padding:5px;border-collapse:collapse; border:0px gray solid;">Humboldt Fellowship, Humboldt Foundation, Germany</td>
     </tr>
     </tbody>
     </table>

    </div>
    </article>
  </div>
</section>

  </article>
  </div>
{% endblock %}
